<p>
  You can download the underlying dataset for the following table from <a href="{{ $.Site.BaseURL }}{{ .Get "src" }}">here</a>.
</p>

<table class="data-table compact stripe">
  {{ $url := print "content/" (.Get "src") }}
  {{ $sep := "," }}
  {{ range $i, $r := getCSV $sep $url }}
    {{ if eq 0 $i }}
    <thead>
    <tr>
      {{ range $c := $r }}
        <th>{{ $c }}</th>
      {{ end }}
    </tr>
    </thead>
    <tbody>
    {{ else }}
    <tr>
      {{ range $c := $r }}
        <td>{{ $c }}</td>
      {{ end }}
    </tr>
    {{ end }}
  {{ end }}
  </tbody>
</table>

